<div class="col-sm-12 about-container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 about-me-purpose">
      <h1>Purpose</h1>
      <p>
        zētō is a medium for past, present and future Launchers to connect and stay connected. By having all Launchers in one place, users are able to easily connect with Launchers outside of their cohort, city, or state. Along with easily connecting with one another, zētō provides a platform for Launchers to post events that are happening within their respective cities as well as any job leads. This is signficant since you are 40% more likely to land an interview if you are referred through an inside connection.
        <br>
        <br>
        My hope for zētō is that Launchers are willing to help one another and as a result, build the Launch Academy network into the strongest network amongst developer bootcamps.
        <br>
        <br>
        - Lawrence Chang
        <br>
        <br>
        <%= image_tag('lc.jpg', class: 'img-circle about-me-portrait') %>
        <br>
        <p>@lc_uclakers | <a href="https://github.com/lchangdev">github</a>| <a href="www.linkedin.com/in/lchangdev/">linkedin</a> | <a href="lchangdev@gmail.com" target="_blank"><%= image_tag('email.png', class: 'email-image') %></a></p>
      </p>
    </div>
  </div>
</div>
