<div class="col-md-12 contact-page-container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 contact-me">
      <h3><a href="mailto:zeto.launchacademy@gmail.com" target="_blank" class="contact-email">zeto.launchacademy@gmail.com</a></h3>
    </div>
  </div>
</div>
