<div class="homepage-container col-md-12">
  <div class="jumbotron">
    <h1 class="header"><span class="site-name">zētō</span></h1>
    <h3 class="header tag-line">connect with <span class="rotate">past, present, future</span> launchers.</h3>
    <br>
    <% if signed_in? %>
      <% if !@user.cohort.present? %>
        <button class="btn btn-primary initial-enter-btn" data-toggle="modal" data-target="#myModal">Enter</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">User Information</h4>
                </div>
                <div class="modal-body">
                  <%= render partial: "form", locals: {zone: @user} %>
                </div>
              </div>
            </div>
          </div>
      <% else %>
        <%= link_to 'Enter', users_path, class: "enter-btn" %>
      <% end %>
    <% else %>
      <p>Please <%= link_to "sign in", "/auth/facebook", id: "sign_in", class: 'login-link' %> first.</p>
    <% end %>
    <div id="flash-message" class="launch-info-alert col-md-12">
      <% if flash.any? %>
        <%= flash[:notice] %>
      <% end %>
    </div>
  </div>
</div>
