<div class="index-container row">

  <div id="map" class="col-md-12">
  </div>

  <div class="launch-info col-md-4">

    <div class="launch-info-header col-md-12">
      <span class="site-name">zētō</span>
    </div>
    <article>
    <div class="launch-info-options col-md-12">
      <div class="launch-info-edit col-md-6">
        <p><%= link_to 'Edit', edit_user_path(@user) %></p>
      </div>
      <div class="launch-info-sort col-md-6">
        <p>Sort By</p>
      </div>
    </div>

    <div class="launch-info-nearbys col-md-12">
    <!-- TODO: NEED TO SHOW LAUNCHERS NEARBY -->
    </div>
    <div id="flash-message" class="launch-info-alert col-md-12">
      <!-- in the way of the zoom -->
      <% if flash.any? %>
        <%= flash[:notice] %>
      <% end %>
    </div>

    <div class="launch-info-users col-md-12">
      <ol class="list-group">
        <% @users.each do |user| %>
          <li class="user-info list-group-item"><img src="<%= user.image %>" class="img-circle avatar" alt="Responsive image"> <%= link_to user.name, user_contact_requests_path(user), method: :post %><a/></li>
        <% end %>
      </ol>
    </div>
    </article>
  </div>

<div>

