<div class="new-post-container row">
  <div class="col-md-12">
  <h1 class="header">Create new post</h1>
  </div>
  <div class="col-md-12">
    <%= render partial: "form", locals: {zone: @post} %>
  </div>
</div>
