<div class="new-post-container row">
  <div id="flash-message" class="col-md-12">
    <% if flash.any? %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 new-post-header-container">
        <h1 class="header">Create new post</h1>
      </div>
      <div class="col-md-12 new-post-form-container">
        <%= render partial: "form", locals: {zone: @post} %>
      </div>
    </div>
  </div>

  <div class="col-md-12 back-link-container">
    <%= link_to 'Back', posts_path, class: "back-link" %>
  </div>
</div>
