<div class="row">
  <div id="map" class="col-md-12">
  </div>
</div>
<div class="row">
  <%= render partial: "form", locals: {zone: @launcher} %>
  <%= link_to 'new point', new_launcher_path %>
</div>
