<div>
  <div id="map" class="col-md-12">
  </div>

  <div class="launch-info col-md-3 col-md-offset-8 row">
    <div class="col-md-12">
      <p> zeto </p>
    </div>
    <div>
      <div class="col-md-6">
        <p>edit</p>
      </div>
      <div class="col-md-6">
        <p>sort by </p>
      </div>
    </div>
    <div>
      <p>user image and name</p>
    </div>
  </div>
<div>

