/* ----------- global----------- */

html,
body {
  height: 100%;
  font-weight: 300;
  font-family: 'Lato';
  color: #65C6BB;
  background-color: white;
}

.body-container {
  height: 100%;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 0;
}

a {
  color: #2D2D2D;
}

a:hover {
  color: #65C6BB;
}

.table {
  text-align: center;
  margin: auto;
}

/* ----------- navbar ----------- */

.navbar {
  background-color: white;
  border-bottom: 1px solid #65C6BB;
}

.icon-bar {
  background-color: black;
}

.container-fluid {
  border-bottom: 1px solid #F2F1EF;
}

.navbar-brand {
  letter-spacing: 5px;
}

.navbar-brand:hover {
  background-color: #EEEEEE;
}

/* ----------- user#home ----------- */

.jumbotron {
  text-align: center;
  background-color: white;
}

.site-name {
  font-size: 3em;
  letter-spacing: 10px;
  font-weight: 100;
}

.tag-line {
  color: #2D2D2D;
}

.enter-btn {
  border: 1px solid #65C6BB;
  padding: 8px 15px;
  background-color: white;
  color: black;
}

.enter-btn:hover {
  background-color: #EEEEEE;
  color: #65C6BB;
  border: 1px solid #65C6BB;
  text-decoration: none;
}

/* ----------- user#index ----------- */

#map {
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 0;
}

.popup {
  font-weight: 300;
  text-align: center;
}

.index-container {
  height: 100%;
}

.launch-info-header,
.launch-info-options {
  text-align: center;
}

.launch-info-header {
  padding-bottom: 10px;
}

.launch-info-options {
  background-color: white;
}

.launch-info-alert {
  padding-top: 20px;
  text-align: center;
}

#search-field {
  background: url("search2.png") no-repeat left center;
  background-size: 20px 20px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.launch-info-users {
  padding-top: 30px;
}

.user-info {
  background-color: white;
  border-top: 1px solid #65C6BB;
  border-bottom: 1px solid #65C6BB;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

.user-info:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.user-info:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.avatar {
  height: 70px;
  width: 70px;
  border: 1px solid #65C6BB;
}

.email-image {
  height: 30px;
  width: 30px;
}
/* ----------- user#edit ----------- */

.edit-container {
  text-align: center;
  padding-top: 100px;
}

.delete-link {
  float: left;
}

/* ----------- contact_request#new ----------- */

.contact-request-container {
  padding-top: 80px;
}

/* ----------- media queries ----------- */

@media (min-width: 768px) {
  .launch-info {
    background-size: 100%;
    position: static;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 992px) {
  #map {
    height: 60%;
  }
}

@media (max-width: 768px) {
  #map {
    height: 60%;
  }

  .homepage-container {
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .launch-info {
    height: 100%;
    background-color: white;
    border: 1px solid #65C6BB;
    padding-top: 100px;
    left: 1.3%;
    position: absolute;
    display: block;
    z-index: 1;
    overflow: auto;
  }
}
