/* navbar */

.navbar {
  background-color: white;
}

.icon-bar {
  background-color: black;
}

.container-fluid {
  border-bottom: 1px solid black;
}

/* map */

#map {
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* launchers#index */

.launch-info {
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: lightblue;
  z-index: 1;
}

.test {
  background-color: tomato;
}
