<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>zētō</h1>
    <p>Dear <%= @sender.name %>,</p>
    <p>This email is to inform you that your request to <%= @recipient.name %> has been sent. Please note it is up to the recipient to decide if they wish to respond to your request. We here at zētō encourage all launchers to be supportive of one another to create a stronger network.</p>
    <p>We here at zētō hope that a valuable network can be established.</p>
    <p>Have a great day!</p>
    <p>Best regards,</p>
    <p>zētō</p>
  </body>
</html>
