<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>zētō</h1>
    <p>Dear <%= @recipient.name %>,</p>
    <p>We want to inform you that <%= @sender.name %> has requested to connect with you. If you wish to respond to <%= @sender.name %>&lsquo;s request, you can reach them at <%= @sender.email %>.</p>
    <p>We here at zētō hope that a valuable network can be established.</p>
    <p>Have a great day!</p>
    <p>Best regards,</p>
    <p>zētō</p>
  </body>
</html>
